/* SmoothFollower.css */

.smooth-follower-wrapper {
  position: fixed;
  inset: 0;
  z-index: 9999;
  pointer-events: none;
}

.dot {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.border-dot {
  position: absolute;
  width: 28px;
  height: 28px;
  border: 2px solid white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.3s, height 0.3s;
}

.border-dot.hovering {
  width: 44px;
  height: 44px;
}
